<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GheFilter</filter-name>
        <filter-class>filter.GheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GheFilter</filter-name>
        <url-pattern>/ghe</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LichChieuServlet</servlet-name>
        <servlet-class>controller.LichChieuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhimServlet</servlet-name>
        <servlet-class>controller.PhimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RapServlet</servlet-name>
        <servlet-class>controller.RapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CTPhimServlet</servlet-name>
        <servlet-class>controller.CTPhimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GheServlet</servlet-name>
        <servlet-class>controller.GheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CTPhimDatveServlet</servlet-name>
        <servlet-class>controller.CTPhimDatveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangNhapServlet</servlet-name>
        <servlet-class>controller.DangNhapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThoatDNServlet</servlet-name>
        <servlet-class>controller.ThoatDNServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKiServlet</servlet-name>
        <servlet-class>controller.DangKiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoSoNDServlet</servlet-name>
        <servlet-class>controller.HoSoNDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XacNhanVeServlet</servlet-name>
        <servlet-class>controller.XacNhanVeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatVeServlet</servlet-name>
        <servlet-class>controller.DatVeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VeDaMuaServlet</servlet-name>
        <servlet-class>controller.VeDaMuaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhToanServlet</servlet-name>
        <servlet-class>controller.ThanhToanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhanHoiServlet</servlet-name>
        <servlet-class>controller.PhanHoiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminQuanLyServlet</servlet-name>
        <servlet-class>controller.AdminQuanLyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminThemSuaPhimServlet</servlet-name>
        <servlet-class>controller.AdminThemSuaPhimServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminQuanLyLichChieu</servlet-name>
        <servlet-class>controller.AdminQuanLyLichChieu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminQuanLyPhongChieu</servlet-name>
        <servlet-class>controller.AdminQuanLyPhongChieu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminThemLichChieuServlet</servlet-name>
        <servlet-class>controller.AdminThemLichChieuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LichChieuServlet</servlet-name>
        <url-pattern>/lichchieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhimServlet</servlet-name>
        <url-pattern>/phim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RapServlet</servlet-name>
        <url-pattern>/rap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CTPhimServlet</servlet-name>
        <url-pattern>/ctphim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GheServlet</servlet-name>
        <url-pattern>/ghe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CTPhimDatveServlet</servlet-name>
        <url-pattern>/ctphimdatve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangNhapServlet</servlet-name>
        <url-pattern>/dangnhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThoatDNServlet</servlet-name>
        <url-pattern>/thoat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKiServlet</servlet-name>
        <url-pattern>/dangki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoSoNDServlet</servlet-name>
        <url-pattern>/hosond</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XacNhanVeServlet</servlet-name>
        <url-pattern>/xacnhanve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatVeServlet</servlet-name>
        <url-pattern>/datve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VeDaMuaServlet</servlet-name>
        <url-pattern>/vedamua</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhToanServlet</servlet-name>
        <url-pattern>/thanhtoan/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhanHoiServlet</servlet-name>
        <url-pattern>/phanhoi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminQuanLyServlet</servlet-name>
        <url-pattern>/adminquanli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminThemSuaPhimServlet</servlet-name>
        <url-pattern>/adminthemsuaphim</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminQuanLyLichChieu</servlet-name>
        <url-pattern>/adminquanlylichchieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminQuanLyPhongChieu</servlet-name>
        <url-pattern>/adminquanlyphongchieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminThemLichChieuServlet</servlet-name>
        <url-pattern>/adminthemlichchieu</url-pattern>
    </servlet-mapping>
</web-app>
